Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  linuxkernel-*

CheckOptions:
  - key: 'readability-identifier-length.IgnoredVariableNames'
    value: 'da|sb|lg'
  - key: 'readability-identifier-length.IgnoredParameterNames'
    value: 'da|sb|lg'
