Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  concurrency-*,
  cert-*,
  linuxkernel-*,
  portability-*,
  unix-*,
  -bugprone-easily-swappable-parameters,
  -readability-math-missing-parentheses,
  -readability-enum-initial-value,
  -readability-function-cognitive-complexity,
  -cert-int09-c,

CheckOptions:
  - key: 'readability-identifier-length.IgnoredVariableNames'
    value: 'da|sb|lg'
  - key: 'readability-identifier-length.IgnoredParameterNames'
    value: 'da|sb|lg'