BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterCaseLabel: false
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: false
    AfterUnion: false
    BeforeCatch: false
    BeforeElse: false
    IndentBraces: false
ColumnLimit: 80
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
ContinuationIndentWidth: 8
BreakBeforeBinaryOperators: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakAssignment: 1000
AlignArrayOfStructures: Left
AlignOperands: Align
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
PointerAlignment: Left
PenaltyBreakBeforeFirstCallParameter: 50
PenaltyBreakString: 100
AllowShortBlocksOnASingleLine: Always
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
ReflowComments: false
SpacesBeforeTrailingComments: 1
IndentPPDirectives: BeforeHash
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: true
