CompileFlags:
  Add:
    - -xc
    - -std=c99
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wconversion
    - -Wsign-conversion
    - -Wshadow
    - -Wunused-variable
    - -Wstrict-prototypes
    - -Wold-style-definition
    - -Wdouble-promotion
    - -Wfloat-equal
    - -Wcast-align
    - -Wundef
    - -Wuninitialized
    - -Wswitch-enum
    - -Wswitch-default
    - -Wbad-function-cast
    - -Wstrict-aliasing
    - -Wno-sign-conversion
    # - -Wmissing-prototypes

Completion:
  HeaderInsertion: Never
