Checks: >
  clang-analyzer-*,
  bugprone-*<bugprone-multi-level-implicit-pointer-conversion,
  performance-*,
  concurrency-*
  readability-*<readability-math-missing-parentheses,
  linuxkernel-*

CheckOptions:
  - key: 'readability-identifier-length.IgnoredVariableNames'
    value: 'da|sb|lg'
  - key: 'readability-identifier-length.IgnoredParameterNames'
    value: 'da|sb|lg'