/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/JetBrainsMono-Regular.woff2")
        format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/JetBrainsMono-ExtraBold.woff2")
        format("woff2");
}


/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #c14a4a;
    --ifm-color-primary-dark: #b33d3d;
    --ifm-color-primary-darker: #a93a3a;
    --ifm-color-primary-darkest: #8b3030;
    --ifm-color-primary-light: #c85e5e;
    --ifm-color-primary-lighter: #cb6868;
    --ifm-color-primary-lightest: #d58686;

    --ifm-font-family-monospace: "JetBrains Mono";
    --ifm-font-family-base: "JetBrains Mono";

    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --ifm-font-weight-bold: 900;
}

/* For dark mode */
[data-theme="dark"] {
    --ifm-color-primary: #ea6962;
    --ifm-color-primary-dark: #e64d45;
    --ifm-color-primary-darker: #e43f36;
    --ifm-color-primary-darkest: #cd251b;
    --ifm-color-primary-light: #ee857f;
    --ifm-color-primary-lighter: #f0938e;
    --ifm-color-primary-lightest: #f6bdba;

    /* background-color: #181818; */
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__logo {
    height: 3rem;
}

.navbar__title {
    font-weight: 900;
    font-size: 1.5rem;
}
